# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.env

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Local SQLite DB (if any)
*.sqlite3

# Logs
*.log
