# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/

# Environment variables
.env

# Logs
*.log

# Test cache
.pytest_cache/

# SQLite DBs (if used)
*.sqlite3

# Coverage reports
.coverage
htmlcov/
coverage.xml

# Editor files
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Alembic migrations
migrations/
